:root {
    --black: #1a1a1a;
    --gray: #333333;
    --gap: 20px;
    --sun-color: #eac90d;
    --mercury-color: #a19e9e;
    --venus-color: #e1a05f;
    --earth-color: #2262aa;
    --mars-color: #d8220a;
    --jupiter-color: #cd9965;
    --saturn-color: #c2a06f;
    --uranus-color: #32b5b3;
    --neptune-color: #1460b2;
}

.card:hover {
    background-color: grey;
}

body {
    background-color: var(--black);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: var(--gap);
}
  
.planetary-cards {
    max-width: 1250px;
    margin: 0 auto;
}
  
h1 {
    margin-bottom: 32px;
    font-size: 32px; 
}
  
.card-container {
    gap: var(--gap);
    display: flex;
}
  
.planets-grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    flex: 1;
}

.planet-card .planet-circle {
    height: 75px;
    width: 75px;
    margin-bottom: 12px;
    border-radius: 50%;
}
  
.card {
    background-color: var(--gray);
    padding: var(--gap);
    border-radius: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
  
.sun-card {
    height: 400px;
    width: 250px;
}
  
.sun-card .planet-circle {
    margin-bottom: var(--gap);
    width: 180px;
    height: 180px;
    background-color: var(--sun-color);
    border-radius: 50%;
}

.planet-card:nth-child(1) .planet-circle { background-color: var(--mercury-color); }
.planet-card:nth-child(2) .planet-circle { background-color: var(--venus-color); }
.planet-card:nth-child(3) .planet-circle { background-color: var(--earth-color); }
.planet-card:nth-child(4) .planet-circle { background-color: var(--mars-color); }
.planet-card:nth-child(5) .planet-circle { background-color: var(--jupiter-color); }
.planet-card:nth-child(6) .planet-circle { background-color: var(--saturn-color); }
.planet-card:nth-child(7) .planet-circle { background-color: var(--uranus-color); }
.planet-card:nth-child(8) .planet-circle { background-color: var(--neptune-color); }

h2 {
    margin: 0;
    font-size: 20px; 
    margin-bottom: 8px; 
}
  
p {
    margin: 0;
    font-size: 18px;
    color: #a1a1a1;
}
